{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.jumpseller.com/v1"
        }
    ],
    "info": {
        "contact": {
            "x-twitter": "jumpseller"
        },
        "description": "Explore all our endpoints with your own set of of access tokens. All changes affect your production Jumpseller store.",
        "title": "Jumpseller API",
        "version": "1",
        "x-apisguru-categories": [
            "ecommerce"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_jumpseller_profile_image.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://api.jumpseller.com/swagger.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "jumpseller.com"
    },
    "paths": {
        "/apps.json": {
            "get": {
                "parameters": [
                    {
                        "description": "API OAuth login.",
                        "in": "query",
                        "name": "login",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "API OAuth token.",
                        "in": "query",
                        "name": "authtoken",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "apps": {
                                            "items": {
                                                "properties": {
                                                    "author": {
                                                        "description": "Author of the app",
                                                        "type": "string"
                                                    },
                                                    "code": {
                                                        "description": "Code of the app",
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "description": "Description of the app",
                                                        "type": "string"
                                                    },
                                                    "js": {
                                                        "default": false,
                                                        "description": "True if the app is a jsapp",
                                                        "type": "boolean"
                                                    },
                                                    "name": {
                                                        "description": "Name of the app",
                                                        "type": "string"
                                                    },
                                                    "page": {
                                                        "description": "Page of the app",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Retrieve all Jumpseller Apps.",
                "tags": [
                    "Apps"
                ]
            }
        },
        "/categories.json": {
            "get": {
                "parameters": [
                    {
                        "description": "API OAuth login.",
                        "in": "query",
                        "name": "login",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "API OAuth token.",
                        "in": "query",
                        "name": "authtoken",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "category": {
                                            "properties": {
                                                "id": {
                                                    "description": "Unique identifier of the Category",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "description": "Name of the Category",
                                                    "type": "string"
                                                },
                                                "parent_id": {
                                                    "description": "Unique identifier of the Parent Category",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "permalink": {
                                                    "description": "Category unique URL path",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Retrieve all Categories.",
                "tags": [
                    "Categories"
                ]
            },
            "post": {
                "description": "Category's permalink is automatically generated from the given category's name.",
                "parameters": [
                    {
                        "description": "API OAuth login.",
                        "in": "query",
                        "name": "login",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "API OAuth token.",
                        "in": "query",
                        "name": "authtoken",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "category": {
                                            "properties": {
                                                "name": {
                                                    "description": "Name of the Category",
                                                    "type": "string"
                                                },
                                                "parent_id": {
                                                    "description": "Unique identifier of the Parent Category",
                                                    "format": "int32",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Create a new Category.",
                "tags": [
                    "Categories"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "category": {
                                        "properties": {
                                            "id": {
                                                "description": "Unique identifier of the Category",
                                                "format": "int32",
                                                "type": "integer"
                                            },
                                            "name": {
                                                "description": "Name of the Category",
                                                "type": "string"
                                            },
                                            "parent_id": {
                                                "description": "Unique identifier of the Parent Category",
                                                "format": "int32",
                                                "type": "integer"
                                            },
                                            "permalink": {
                                                "description": "Category unique URL path",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "Category parameters.",
                    "required": true
                }
            }
        },
        "/categories/{id}.json": {
            "delete": {
                "parameters": [
                    {
                        "description": "API OAuth login.",
                        "in": "query",
                        "name": "login",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "API OAuth token.",
                        "in": "query",
                        "name": "authtoken",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "Id of the Category",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Category Not Found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Delete an existing Category.",
                "tags": [
                    "Categories"
                ]
            },
            "get": {
                "parameters": [
                    {
                        "description": "API OAuth login.",
                        "in": "query",
                        "name": "login",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "API OAuth token.",
                        "in": "query",
                        "name": "authtoken",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "Id of the Category",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The selected Category.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "category": {
                                            "properties": {
                                                "id": {
                                                    "description": "Unique identifier of the Category",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "description": "Name of the Category",
                                                    "type": "string"
                                                },
                                                "parent_id": {
                                                    "description": "Unique identifier of the Parent Category",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "permalink": {
                                                    "description": "Category unique URL path",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Category Not Found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Retrieve a single Category.",
                "tags": [
                    "Categories"
                ]
            },
            "put": {
                "parameters": [
                    {
                        "description": "API OAuth login.",
                        "in": "query",
                        "name": "login",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "API OAuth token.",
                        "in": "query",
                        "name": "authtoken",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "Id of the Category",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "category": {
                                            "properties": {
                                                "id": {
                                                    "description": "Unique identifier of the Category",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "description": "Name of the Category",
                                                    "type": "string"
                                                },
                                                "parent_id": {
                                                    "description": "Unique identifier of the Parent Category",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "permalink": {
                                                    "description": "Category unique URL path",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Category Not Found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Modify an existing Category.",
                "tags": [
                    "Categories"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "category": {
                                        "properties": {
                                            "name": {
                                                "description": "Name of the Category",
                                                "type": "string"
                                            },
                                            "parent_id": {
                                                "description": "Unique identifier of the Parent Category",
                                                "format": "int32",
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "Category parameters.",
                    "required": true
                }
            }
        },
        "/checkout_custom_fields.json": {
            "get": {
                "parameters": [
                    {
                        "description": "API OAuth login.",
                        "in": "query",
                        "name": "login",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "API OAuth token.",
                        "in": "query",
                        "name": "authtoken",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "List restriction",
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "integer",
                            "maximum": 200,
                            "default": 50
                        }
                    },
                    {
                        "description": "List page",
                        "in": "query",
                        "name": "page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of Checkout Custom Fields",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "checkout_custom_field": {
                                                "properties": {
                                                    "area": {
                                                        "description": "Area of the CheckoutCustomField",
                                                        "enum": [
                                                            "contact",
                                                            "billing_shipping",
                                                            "other"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "custom_field_select_options": {
                                                        "description": "The values for the CheckoutCustomField selection",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "deletable": {
                                                        "default": false,
                                                        "description": "True if the CheckoutCustomField can be removed from the store",
                                                        "type": "boolean"
                                                    },
                                                    "id": {
                                                        "description": "Unique identifier of the CheckoutCustomField",
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "label": {
                                                        "description": "Label given to the CheckoutCustomField",
                                                        "type": "string"
                                                    },
                                                    "position": {
                                                        "description": "Position of the CheckoutCustomField",
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "required": {
                                                        "default": false,
                                                        "description": "True if the CheckoutCustomField is mandatory",
                                                        "type": "boolean"
                                                    },
                                                    "type": {
                                                        "description": "Type of the CheckoutCustomField",
                                                        "enum": [
                                                            "text",
                                                            "select",
                                                            "input",
                                                            "checkbox"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Retrieve all Checkout Custom Fields.",
                "tags": [
                    "Checkout Custom Fields"
                ]
            },
            "post": {
                "parameters": [
                    {
                        "description": "API OAuth login.",
                        "in": "query",
                        "name": "login",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "API OAuth token.",
                        "in": "query",
                        "name": "authtoken",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "checkout_custom_field": {
                                                "properties": {
                                                    "area": {
                                                        "description": "Area of the CheckoutCustomField",
                                                        "enum": [
                                                            "contact",
                                                            "billing_shipping",
                                                            "other"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "custom_field_select_options": {
                                                        "description": "The values for the CheckoutCustomField selection",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "deletable": {
                                                        "default": false,
                                                        "description": "True if the CheckoutCustomField can be removed from the store",
                                                        "type": "boolean"
                                                    },
                                                    "id": {
                                                        "description": "Unique identifier of the CheckoutCustomField",
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "label": {
                                                        "description": "Label given to the CheckoutCustomField",
                                                        "type": "string"
                                                    },
                                                    "position": {
                                                        "description": "Position of the CheckoutCustomField",
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "required": {
                                                        "default": false,
                                                        "description": "True if the CheckoutCustomField is mandatory",
                                                        "type": "boolean"
                                                    },
                                                    "type": {
                                                        "description": "Type of the CheckoutCustomField",
                                                        "enum": [
                                                            "text",
                                                            "select",
                                                            "input",
                                                            "checkbox"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "CheckoutCustomField Not Found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Create a new CheckoutCustomField.",
                "tags": [
                    "Checkout Custom Fields"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "checkout_custom_field": {
                                        "properties": {
                                            "area": {
                                                "description": "Area of the CheckoutCustomField",
                                                "enum": [
                                                    "contact",
                                                    "billing_shipping",
                                                    "other"
                                                ],
                                                "type": "string"
                                            },
                                            "custom_field_select_options": {
                                                "description": "The values for the CheckoutCustomField selection",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "deletable": {
                                                "default": false,
                                                "description": "True if the CheckoutCustomField can be removed from the store",
                                                "type": "boolean"
                                            },
                                            "label": {
                                                "description": "Label given to the CheckoutCustomField",
                                                "type": "string"
                                            },
                                            "position": {
                                                "description": "Position of the CheckoutCustomField",
                                                "format": "int32",
                                                "type": "integer"
                                            },
                                            "required": {
                                                "default": false,
                                                "description": "True if the CheckoutCustomField is mandatory",
                                                "type": "boolean"
                                            },
                                            "type": {
                                                "description": "Type of the CheckoutCustomField",
                                                "enum": [
                                                    "text",
                                                    "select",
                                                    "input",
                                                    "checkbox"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "CheckoutCustomField parameters.",
                    "required": true
                }
            }
        },
        "/checkout_custom_fields/{id}.json": {
            "delete": {
                "parameters": [
                    {
                        "description": "API OAuth login.",
                        "in": "query",
                        "name": "login",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "API OAuth token.",
                        "in": "query",
                        "name": "authtoken",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "Id of the CheckoutCustomField",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "CheckoutCustomField Not Found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Delete an existing CheckoutCustomField.",
                "tags": [
                    "Checkout Custom Fields"
                ]
            },
            "get": {
                "parameters": [
                    {
                        "description": "API OAuth login.",
                        "in": "query",
                        "name": "login",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "API OAuth token.",
                        "in": "query",
                        "name": "authtoken",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "Id of the CheckoutCustomField",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "checkout_custom_field": {
                                            "properties": {
                                                "area": {
                                                    "description": "Area of the CheckoutCustomField",
                                                    "enum": [
                                                        "contact",
                                                        "billing_shipping",
                                                        "other"
                                                    ],
                                                    "type": "string"
                                                },
                                                "custom_field_select_options": {
                                                    "description": "The values for the CheckoutCustomField selection",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "deletable": {
                                                    "default": false,
                                                    "description": "True if the CheckoutCustomField can be removed from the store",
                                                    "type": "boolean"
                                                },
                                                "id": {
                                                    "description": "Unique identifier of the CheckoutCustomField",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "label": {
                                                    "description": "Label given to the CheckoutCustomField",
                                                    "type": "string"
                                                },
                                                "position": {
                                                    "description": "Position of the CheckoutCustomField",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "required": {
                                                    "default": false,
                                                    "description": "True if the CheckoutCustomField is mandatory",
                                                    "type": "boolean"
                                                },
                                                "type": {
                                                    "description": "Type of the CheckoutCustomField",
                                                    "enum": [
                                                        "text",
                                                        "select",
                                                        "input",
                                                        "checkbox"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "CheckoutCustomField Not Found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Retrieve a single CheckoutCustomField.",
                "tags": [
                    "Checkout Custom Fields"
                ]
            },
            "put": {
                "parameters": [
                    {
                        "description": "API OAuth login.",
                        "in": "query",
                        "name": "login",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "API OAuth token.",
                        "in": "query",
                        "name": "authtoken",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "Id of the CheckoutCustomField",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "checkout_custom_field": {
                                                "properties": {
                                                    "area": {
                                                        "description": "Area of the CheckoutCustomField",
                                                        "enum": [
                                                            "contact",
                                                            "billing_shipping",
                                                            "other"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "custom_field_select_options": {
                                                        "description": "The values for the CheckoutCustomField selection",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "deletable": {
                                                        "default": false,
                                                        "description": "True if the CheckoutCustomField can be removed from the store",
                                                        "type": "boolean"
                                                    },
                                                    "id": {
                                                        "description": "Unique identifier of the CheckoutCustomField",
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "label": {
                                                        "description": "Label given to the CheckoutCustomField",
                                                        "type": "string"
                                                    },
                                                    "position": {
                                                        "description": "Position of the CheckoutCustomField",
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "required": {
                                                        "default": false,
                                                        "description": "True if the CheckoutCustomField is mandatory",
                                                        "type": "boolean"
                                                    },
                                                    "type": {
                                                        "description": "Type of the CheckoutCustomField",
                                                        "enum": [
                                                            "text",
                                                            "select",
                                                            "input",
                                                            "checkbox"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "CheckoutCustomField Not Found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Update a CheckoutCustomField.",
                "tags": [
                    "Checkout Custom Fields"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "checkout_custom_field": {
                                        "properties": {
                                            "area": {
                                                "description": "Area of the CheckoutCustomField",
                                                "enum": [
                                                    "contact",
                                                    "billing_shipping",
                                                    "other"
                                                ],
                                                "type": "string"
                                            },
                                            "custom_field_select_options": {
                                                "description": "The values for the CheckoutCustomField selection",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "deletable": {
                                                "default": false,
                                                "description": "True if the CheckoutCustomField can be removed from the store",
                                                "type": "boolean"
                                            },
                                            "label": {
                                                "description": "Label given to the CheckoutCustomField",
                                                "type": "string"
                                            },
                                            "position": {
                                                "description": "Position of the CheckoutCustomField",
                                                "format": "int32",
                                                "type": "integer"
                                            },
                                            "required": {
                                                "default": false,
                                                "description": "True if the CheckoutCustomField is mandatory",
                                                "type": "boolean"
                                            },
                                            "type": {
                                                "description": "Type of the CheckoutCustomField",
                                                "enum": [
                                                    "text",
                                                    "select",
                                                    "input",
                                                    "checkbox"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "CheckoutCustomField parameters.",
                    "required": true
                }
            }
        },
        "/countries.json": {
            "get": {
                "parameters": [
                    {
                        "description": "API OAuth login.",
                        "in": "query",
                        "name": "login",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "API OAuth token.",
                        "in": "query",
                        "name": "authtoken",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of Countries",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Retrieve all Countries.",
                "tags": [
                    "Countries"
                ]
            }
        },
        "/countries/{country_code}.json": {
            "get": {
                "parameters": [
                    {
                        "description": "API OAuth login.",
                        "in": "query",
                        "name": "login",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "API OAuth token.",
                        "in": "query",
                        "name": "authtoken",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "ISO3166 Country Code",
                        "in": "path",
                        "name": "country_code",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A Country information object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Country Not Found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Retrieve a single Country information.",
                "tags": [
                    "Countries"
                ]
            }
        },
        "/countries/{country_code}/regions.json": {
            "get": {
                "parameters": [
                    {
                        "description": "API OAuth login.",
                        "in": "query",
                        "name": "login",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "API OAuth token.",
                        "in": "query",
                        "name": "authtoken",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "ISO3166 Country Code",
                        "in": "path",
                        "name": "country_code",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of Regions from a single Country",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Country Not Found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Retrieve all Regions from a single Country.",
                "tags": [
                    "Countries",
                    "Regions"
                ]
            }
        },
        "/countries/{country_code}/regions/{region_code}.json": {
            "get": {
                "parameters": [
                    {
                        "description": "API OAuth login.",
                        "in": "query",
                        "name": "login",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "API OAuth token.",
                        "in": "query",
                        "name": "authtoken",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "ISO3166 Country Code",
                        "in": "path",
                        "name": "country_code",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "Region Code",
                        "in": "path",
                        "name": "region_code",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A Region information object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Country or Region not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Retrieve a single Region information object.",
                "tags": [
                    "Countries",
                    "Regions"
                ]
            }
        },
        "/customer_categories.json": {
            "get": {
                "parameters": [
                    {
                        "description": "API OAuth login.",
                        "in": "query",
                        "name": "login",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "API OAuth token.",
                        "in": "query",
                        "name": "authtoken",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "List restriction",
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "integer",
                            "maximum": 200,
                            "default": 50
                        }
                    },
                    {
                        "description": "List page",
                        "in": "query",
                        "name": "page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of Customer Categories",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "category": {
                                                "properties": {
                                                    "code": {
                                                        "description": "Code of the CustomerCategory",
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "description": "Unique identifier of the CustomerCategory",
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "name": {
                                                        "description": "Name of the CustomerCategory",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Retrieve all Customer Categories.",
                "tags": [
                    "Customer Categories"
                ]
            },
            "post": {
                "parameters": [
                    {
                        "description": "API OAuth login.",
                        "in": "query",
                        "name": "login",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "API OAuth token.",
                        "in": "query",
                        "name": "authtoken",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "category": {
                                                "properties": {
                                                    "code": {
                                                        "description": "Code of the CustomerCategory",
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "description": "Unique identifier of the CustomerCategory",
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "name": {
                                                        "description": "Name of the CustomerCategory",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "CustomerCategory Not Found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Create a new CustomerCategory.",
                "tags": [
                    "Customer Categories"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "category": {
                                        "properties": {
                                            "name": {
                                                "description": "Name of the CustomerCategory",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "CustomerCategory parameters.",
                    "required": true
                }
            }
        },
        "/customer_categories/{id}.json": {
            "delete": {
                "parameters": [
                    {
                        "description": "API OAuth login.",
                        "in": "query",
                        "name": "login",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "API OAuth token.",
                        "in": "query",
                        "name": "authtoken",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "Id of the CustomerCategory",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "CustomerCategory Not Found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Delete an existing CustomerCategory.",
                "tags": [
                    "Customer Categories"
                ]
            },
            "get": {
                "parameters": [
                    {
                        "description": "API OAuth login.",
                        "in": "query",
                        "name": "login",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "API OAuth token.",
                        "in": "query",
                        "name": "authtoken",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "Id of the CustomerCategory",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "category": {
                                            "properties": {
                                                "code": {
                                                    "description": "Code of the CustomerCategory",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "description": "Unique identifier of the CustomerCategory",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "description": "Name of the CustomerCategory",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "CustomerCategory Not Found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Retrieve a single CustomerCategory.",
                "tags": [
                    "Customer Categories"
                ]
            },
            "put": {
                "parameters": [
                    {
                        "description": "API OAuth login.",
                        "in": "query",
                        "name": "login",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "API OAuth token.",
                        "in": "query",
                        "name": "authtoken",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "Id of the CustomerCategory",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "category": {
                                                "properties": {
                                                    "code": {
                                                        "description": "Code of the CustomerCategory",
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "description": "Unique identifier of the CustomerCategory",
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "name": {
                                                        "description": "Name of the CustomerCategory",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "CustomerCategory Not Found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Update a CustomerCategory.",
                "tags": [
                    "Customer Categories"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "category": {
                                        "properties": {
                                            "name": {
                                                "description": "Name of the CustomerCategory",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "CustomerCategory parameters.",
                    "required": true
                }
            }
        },
        "/customer_categories/{id}/customers.json": {
            "delete": {
                "parameters": [
                    {
                        "description": "API OAuth login.",
                        "in": "query",
                        "name": "login",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "API OAuth token.",
                        "in": "query",
                        "name": "authtoken",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "Id of the CustomerCategory",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "CustomerCategory Not Found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Delete Customers from an existing CustomerCategory.",
                "tags": [
                    "Customer Categories"
                ]
            },
            "get": {
                "parameters": [
                    {
                        "description": "API OAuth login.",
                        "in": "query",
                        "name": "login",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "API OAuth token.",
                        "in": "query",
                        "name": "authtoken",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "string"
                        }
                    },
                    {
                        "description": "Id of the CustomerCategory",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "customer": {
                                                "properties": {
                                                    "billing_address": {
                                                        "properties": {
                                                            "address": {
                                                                "description": "Address of the Customer's Billing Address",
                                                                "type": "string"
                                                            },
                                                            "city": {
                                                                "description": "City of the Customer's Billing Address",
                                                                "type": "string"
                                                            },
                                                            "country": {
                                                                "description": "Country of the Customer's Billing Address (ISO 3166-1 alpha-2)",
                                                                "type": "string"
                                                            },
                                                            "municipality": {
                                                                "description": "Municipality of the Customer's Billing Address",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Name of the Customer's Billing Address",
                                                                "type": "string"
                                                            },
                                                            "postal": {
                                                                "description": "Postal code of the Customer's Billing Address",
                                                                "type": "string"
                                                            },
                                                            "region": {
                                                                "description": "Region of the Customer's Billing Address (Use the FIPS standard - http://www.geonames.org/countries/)",
                                                                "type": "integer"
                                                            },
                                                            "surname": {
                                                                "description": "Surname of the Customer's Billing Address",
                                                                "type": "string"
                                                            },
                                                            "taxid": {
                                                                "description": "Tax id of the Customer's Billing Address",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "customer_additional_fields": {
                                                        "items": {
                                                            "properties": {
                                                                "customer_additional_field": {
                                                                    "properties": {
                                                                        "area": {
                                                                            "description": "Area of the Customer Additional Field",
                                                                            "type": "string"
                                                                        },
                                                                        "checkout_custom_field_id": {
                                                                            "description": "Unique identifier of the Checkout Custom Field",
[...]
